.div--content-display img, .div--items, #whyus, #laptop, .div--elements-centered :nth-child(n), .div--elements-centered {
  margin: 0 auto;
}

.img--catalog-size, .img--eye-size, .img--person-size {
  position: absolute;
  display: inline-block;
  left: calc(50% - 31.375px + 12px);
}

.cornet, .iphone, .macBook {
  position: absolute;
  width: 193px;
  left: calc(50% - 96.5px - 20px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: Open Sans;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: Raleway;
}

button, input[type*=submit] {
  cursor: pointer;
}

main {
  margin-top: 100px;
  position: relative;
}

.div--elements-centered {
  width: 70%;
}
.div--elements-centered :nth-child(n) {
  display: block;
  position: relative;
  margin-bottom: 20px !important;
}
.div--elements-centered h2 {
  font-weight: 400;
  font-size: 35px;
}
.div--elements-centered p {
  font-weight: 400;
  font-size: 16px;
}
.div--elements-centered button {
  max-width: 440px;
  width: 100%;
  padding: 20px;
  background-color: #07ACE6;
  color: #FFFFFF;
  border: 0;
  border-radius: 40px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  font-weight: 700;
  font-size: 16px;
}

#laptop {
  position: relative;
  height: 267px;
  background: center no-repeat url("../img/Desktop.png");
  background-size: cover;
  margin-bottom: 20px;
}
#laptop img {
  display: none;
}

@media screen and (min-width: 1000px) {
  #laptop {
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
    background: none;
    overflow: hidden;
  }
  #laptop img {
    display: flex;
  }
}
header {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  text-align: left;
  z-index: 5;
}

.header__display {
  position: relative;
  background-color: #FFFFFF;
  z-index: 5;
}

h1 {
  color: #08A6E4;
  margin: 17px 25px;
  position: relative;
  display: inline-block;
  font-weight: 300;
  font-size: 32px;
}

nav {
  text-transform: uppercase;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 11px;
  text-align: left;
  padding: 20px 0;
  background-color: #FFFFFF;
  width: 100%;
  bottom: 0;
  z-index: 4;
}
nav a {
  padding: 10px 30px;
  letter-spacing: 3.28px;
  text-decoration: none;
  color: #A5A5A5;
  width: 100%;
}
nav a:hover {
  color: #000000;
}

.nav__expanded {
  bottom: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2901960784);
}

#burger_menu {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 12px;
  top: 29px;
  right: 40px;
}
#burger_menu div {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #07ACE6;
  top: 5px;
}
#burger_menu .burger_menu--first {
  transition: 150ms;
  top: 0;
}
#burger_menu .burger_menu--first--crossed {
  top: auto;
  rotate: 45deg;
}
#burger_menu .burger_menu--middle {
  transition: 150ms;
}
#burger_menu .burger_menu--middle--crossed {
  display: none;
}
#burger_menu .burger_menu--last {
  transition: 150ms;
  top: 10px;
}
#burger_menu .burger_menu--last--crossed {
  top: auto;
  rotate: -45deg;
}

@media screen and (min-width: 1000px) {
  header {
    display: flex;
  }
  h1 {
    left: 136px;
  }
  nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    box-shadow: none;
    right: 20px;
    padding: 0;
    font-weight: 700;
    font-size: 11px;
    text-align: center;
    width: auto;
  }
  nav a {
    padding: 26px 0;
    text-decoration: none;
    color: #A5A5A5;
    width: 100px;
    transition: 100ms;
  }
  nav a:hover {
    color: #000000;
    border-bottom: 4px solid #08A6E4;
  }
  #burger_menu {
    display: none;
  }
}
#whyus {
  width: 70%;
  margin-bottom: 50px;
}
#whyus h3 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px) {
  #whyus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #whyus h3 {
    font-weight: 400;
    font-size: 36px;
    width: 100%;
  }
}
.div--items {
  width: 200px;
  margin-bottom: 20px;
}
.div--items > div {
  height: 62.75px;
  margin-bottom: 20px;
}
.div--items h4 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 6px;
  margin-bottom: 20px;
}
.div--items h5 {
  font-weight: 400;
  font-size: 17px;
  color: #A5A5A5;
  margin-bottom: 20px;
}

.img--person-size {
  margin-top: 5px;
}

.div--person-background_color {
  position: absolute;
  width: 62.75px;
  height: 62.75px;
  border-radius: 99px;
  background-color: #FB3B64;
  display: inline-block;
  left: calc(50% - 31.375px - 15px);
}

.img--eye-size {
  margin-top: 15px;
}

.div--eye-background_color {
  position: absolute;
  width: 62.75px;
  height: 62.75px;
  border-radius: 99px;
  background-color: #08A6E4;
  display: inline-block;
  left: calc(50% - 31.375px - 15px);
}

.img--catalog-size {
  margin-top: 5px;
}

.div--catalog-background_color {
  position: absolute;
  width: 62.75px;
  height: 62.75px;
  border-radius: 99px;
  background-color: #55DFB4;
  display: inline-block;
  left: calc(50% - 31.375px - 15px);
}

@media screen and (min-width: 1000px) {
  #whyus {
    margin-bottom: 100px;
  }
  .div--items {
    padding: 50px 0;
  }
  .div--items > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img--person-size, .img--catalog-size, .img--eye-size, .div--person-background_color, .div--catalog-background_color, .div--eye-background_color {
    position: relative;
    left: 0;
    margin: 0;
  }
  .div--person-background_color, .div--catalog-background_color, .div--eye-background_color {
    left: 28%;
  }
  .img--person-size {
    left: -35%;
  }
  .img--catalog-size, .img--eye-size {
    left: -28%;
  }
}
#benefits {
  background-color: #F7F7F7;
  padding: 30px;
  margin-bottom: 50px;
}

.div--content-display {
  text-align: left;
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin: 0 auto 20px auto;
}
.div--content-display > :nth-child(n) {
  margin: 30px;
}
.div--content-display > div > h3, .div--content-display > div > .benefits__card__border {
  width: 60%;
}
.div--content-display > div > p {
  width: 70%;
}
.div--content-display h3 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}
.div--content-display p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.div--display-height {
  height: 110px;
}

.macBook {
  margin-top: 10px !important;
}

.iphone {
  left: calc(50% - 96.5px + 30px);
  margin-top: -10px !important;
}

.cornet {
  margin-top: 20px !important;
}

.div--background-rotate {
  position: absolute;
  width: 90.12px;
  height: 90.12px;
  border-radius: 41px;
  background-color: #FB3B64;
  rotate: 45deg;
  left: 50%;
  margin-top: -10px;
}

.div--background-center_blue {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 99px;
  background-color: #08A6E4;
  left: calc(50% - 70px);
  margin-top: -15px;
}

.div--background-green_rectangle {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 5px;
  background-color: #55DFB4;
  width: calc(100% - 60px);
  left: 30px;
}

.h2--text-style {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1000px) {
  #benefits {
    padding: 100px;
    margin-bottom: 100px;
  }
  .div--content-display {
    height: 370px;
    width: 90%;
    display: flex;
    align-items: center;
  }
  .div--content-display > div {
    display: block;
    width: 50%;
    height: 100%;
    align-content: center;
  }
  .div--content-display-spacing {
    background-color: transparent;
    border: none;
  }
  .div--content-display-spacing > div:first-child {
    background-color: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 30px 0;
    padding: 0 30px;
    width: 60%;
  }
  .order-1 {
    order: 1;
  }
  .order-2 {
    order: 2;
  }
  .div--display-height {
    display: flex !important;
    position: relative;
    flex-wrap: nowrap;
  }
  .div--background-rotate {
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 41px;
    background-color: #FB3B64;
    top: 100px;
    align-self: center;
  }
}
@media screen and (min-width: 1000px) and (min-width: 1200px) {
  .div--background-rotate {
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 41px;
    background-color: #FB3B64;
    top: 70px;
    align-self: center;
  }
}
@media screen and (min-width: 1000px) {
  .div--background-center_blue {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 999px;
    background-color: #08A6E4;
    top: 50%;
    left: 45%;
    transform: translate(-55%, -50%);
  }
  .div--background-green_rectangle {
    width: calc(100% + 30px);
    height: 100%;
    left: 0;
  }
  .macBook, .iphone, .cornet {
    align-self: center;
    position: relative;
    width: 386.44px;
    max-width: 100%;
    left: 0;
  }
  .benefits__card__border {
    border-bottom: 4px solid;
  }
  .benefits__card__border--red {
    border-color: #FB3B64;
  }
  .benefits__card__border--blue {
    border-color: #08A6E4;
  }
  .benefits__card__border--turquoise {
    border-color: #55DFB4;
  }
}
#prices {
  position: relative;
  margin-bottom: 70px;
}

.div--basic-border {
  border: 1px solid #FB3B64;
  border-radius: 18px;
  width: 80%;
  background-color: #FFFFFF;
  margin: 0 auto 40px auto;
  position: relative;
}

.div--professional-border {
  border: 1px solid #08A6E4;
  border-radius: 18px;
  width: 80%;
  background-color: #FFFFFF;
  margin: 0 auto 40px auto;
  position: relative;
}

.div--premium-border {
  border: 1px solid #55DFB4;
  border-radius: 18px;
  width: 80%;
  background-color: #FFFFFF;
  margin: 0 auto 40px auto;
  position: relative;
}

.div--plan {
  display: inline-block;
  margin: 10px;
}

.div--basic_plan-type {
  position: relative;
  display: inline-block;
  width: 35%;
  bottom: 27px;
}
.div--basic_plan-type h3 {
  font-weight: 700;
  font-size: 20px;
}
.div--basic_plan-type p {
  color: #FB3B64;
  font-weight: 300;
  font-size: 46px;
}
.div--basic_plan-type h4 {
  font-weight: 700;
  font-size: 12px;
}

.div--professional_plan-type {
  position: relative;
  display: inline-block;
  width: 35%;
  bottom: 20px;
}
.div--professional_plan-type h3 {
  font-weight: 700;
  font-size: 20px;
}
.div--professional_plan-type p {
  color: #08A6E4;
  font-weight: 300;
  font-size: 46px;
}
.div--professional_plan-type h4 {
  font-weight: 700;
  font-size: 12px;
}

.div--premium_plan-type {
  position: relative;
  display: inline-block;
  width: 35%;
  bottom: 20px;
}
.div--premium_plan-type h3 {
  font-weight: 700;
  font-size: 20px;
}
.div--premium_plan-type p {
  color: #55DFB4;
  font-weight: 300;
  font-size: 46px;
}
.div--premium_plan-type h4 {
  font-weight: 700;
  font-size: 12px;
}

.div--plan-specifications {
  position: relative;
  top: 10px;
  width: 50%;
}
.div--plan-specifications > div {
  width: 100%;
}
.div--plan-specifications p {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  width: 85%;
  margin: 10px 0 10px 4px;
}

.div--basic-begin {
  position: relative;
  border-radius: 99px;
  top: 25px;
  height: 50px;
  width: 50%;
  color: white;
  font-weight: 700;
  font-size: 13px;
  background-color: #FB3B64;
  margin: 0 auto;
  border: 0;
}

.div--professional-begin {
  position: relative;
  border-radius: 99px;
  top: 25px;
  height: 50px;
  width: 50%;
  color: white;
  font-weight: 700;
  font-size: 13px;
  background-color: #08A6E4;
  margin: 0 auto;
  border: 0;
}

.div--premium-begin {
  position: relative;
  border-radius: 99px;
  top: 25px;
  height: 50px;
  width: 50%;
  color: white;
  font-weight: 700;
  font-size: 13px;
  background-color: #55DFB4;
  margin: 0 auto;
  border: 0;
}

@media screen and (min-width: 1000px) {
  #prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    margin-bottom: 100px;
  }
  #prices h2 {
    flex: 1 1 100%;
  }
  .div--basic-border, .div--professional-border, .div--premium-border {
    margin: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 372px;
    width: auto;
    transition: 200ms;
  }
  .div--basic-border:hover, .div--professional-border:hover, .div--premium-border:hover {
    transform: scale(1.05);
  }
  .div--basic-border:hover {
    box-shadow: 5px 10px 27px 0px rgba(235, 71, 110, 0.2901960784);
  }
  .div--professional-border:hover {
    box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.2901960784);
  }
  .div--premium-border:hover {
    box-shadow: 5px 10px 27px 0px rgba(85, 223, 180, 0.2901960784);
  }
  .div--plan {
    width: auto;
    text-align: center;
    top: 0;
  }
  .div--plan h3 {
    padding-bottom: 10px;
  }
  .div--plan-specifications p {
    padding: 5px;
    width: auto;
  }
}
#contact {
  text-align: left;
  margin: 0 30px;
}
#contact h2 {
  font-weight: 400;
  font-size: 40px;
}
#contact p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.div--contact-alignement {
  height: 30px;
  margin: 2px;
}
.div--contact-alignement :nth-child(n) {
  display: inline-block;
}
.div--contact-alignement div {
  height: 27px;
  width: 27px;
}
.div--contact-alignement p {
  margin: auto;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  color: #A5A5A5;
  padding: 5px;
  bottom: 8px;
}
.div--contact-alignement:last-child {
  margin-bottom: 40px;
}

@media screen and (min-width: 1000px) {
  #contact {
    display: flex;
    margin: 0 auto;
    width: 60%;
  }
  .contact__message, form {
    width: 50%;
  }
  .contact__contactInfo {
    display: flex;
    flex-wrap: wrap;
  }
}
form label {
  display: inline-block;
  width: 100%;
  color: #08A6E4;
}
form input:not([type*=checkbox]), form input:not([type*=checkbox]):focus-visible {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #95989A;
  margin-bottom: 20px;
  outline: none;
}
form input[type=checkbox] {
  display: none;
}
form input[type=checkbox] + label {
  margin: 10px;
  position: absolute;
  background: url("../img/Checkbox_unChecked.png") no-repeat;
  height: 24px;
  width: 24px;
}
form input[type=checkbox]:checked + label {
  background: url("../img/Checkbox_Checked.png") no-repeat;
}
form .label--policy {
  position: relative;
  color: #707070;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  display: inline-block;
  width: calc(100% - 54px);
  left: 54px;
}
form input[type*=submit] {
  position: relative;
  border-radius: 99px;
  top: 25px;
  height: 50px;
  width: 50%;
  color: white;
  font-weight: 700;
  font-size: 13px;
  background-color: #08A6E4;
  margin: 0 auto;
  border: 0;
  top: 0;
  width: 70%;
  margin: 20px;
  left: 20%;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
}

@media screen and (min-width: 1000px) {
  form input[type*=submit] {
    width: 50%;
    left: 50%;
  }
}
footer {
  position: relative;
  background-color: #F7F7F7;
  margin-top: 20px;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
}
footer .copyright {
  box-sizing: border-box;
  display: inline-block;
  padding: 30px 15px;
  position: relative;
  text-align: justify;
  width: 100%;
}
footer .copyright h2 {
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #08A6E4;
}
footer .copyright p {
  font-weight: 400;
  font-size: 11px;
  line-height: 14.98px;
  color: #A5A5A5;
}
footer .social_media {
  position: absolute;
  display: inline-block;
  right: 17px;
  bottom: 35px;
}
footer .social_media a {
  padding: 10px;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  footer .copyright {
    left: 30px;
    width: calc(100% - 60px);
  }
  footer .social_media {
    right: 47px;
  }
}

/*# sourceMappingURL=styles.css.map */
