$logo_blue: #08A6E4;
$blue: #07ACE6;
$white: #FFFFFF;
$black: #000000;

* {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   min-width: 320px;
   font-family: Open Sans;
}

h1, h2, h3, h4, h5 {
    font-family: Raleway;
}

#header{
    position: sticky;
    top: 0;
    background-color: $white;
    box-shadow: 0px 3px 6px 0px #0000004A;
}

h1{
    color: $logo_blue;
    margin: 17px 25px;
    position: relative;
    display: inline-block;
}

nav{
    text-transform: uppercase;
    display: none;
}

#burger_menu{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 12px;
    top: 29px;
    right: 40px;

    div{
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: $blue;
        top: 5px;
    }

    :first-child{
        top: 0;
    }

    :last-child{
        top: 10px;
    }
}