.div--content-display img, .div--items, #whyus, #laptop, .div--elements-centered :nth-child(n), .div--elements-centered {
  margin: 0 auto;
}

.img--catalog-size, .img--eye-size, .img--person-size {
  position: absolute;
  display: inline-block;
  left: calc(50% - 31.375px + 12px);
}

.cornet, .iphone, .macBook {
  position: absolute;
  width: 193px;
  left: calc(50% - 96.5px - 20px);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: Open Sans;
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: Raleway;
}

header {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  text-align: left;
  z-index: 5;
}

h1 {
  color: #08A6E4;
  margin: 17px 25px;
  position: relative;
  display: inline-block;
}

nav {
  text-transform: uppercase;
  display: none;
}

#burger_menu {
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 12px;
  top: 29px;
  right: 40px;
}
#burger_menu div {
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #07ACE6;
  top: 5px;
}
#burger_menu :first-child {
  top: 0;
}
#burger_menu :last-child {
  top: 10px;
}

main {
  top: 100px;
  position: relative;
}

.div--elements-centered {
  width: 70%;
}
.div--elements-centered :nth-child(n) {
  display: block;
  position: relative;
  margin-bottom: 20px !important;
}
.div--elements-centered h2 {
  font-weight: 400;
  font-size: 35px;
}
.div--elements-centered p {
  font-weight: 400;
  font-size: 16px;
}
.div--elements-centered button {
  width: 100%;
  padding: 20px;
  background-color: #07ACE6;
  color: #FFFFFF;
  border: 0;
  border-radius: 40px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  font-weight: 700;
  font-size: 16px;
}

#laptop {
  position: relative;
  height: 267px;
  background: center no-repeat url(https://s3-alpha-sig.figma.com/img/c3f9/6a42/6648411f57f04aff84de5d247f55d2a8?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JjMcR0dAcKxv9cxAUdNtoLsalHY4RELkBrC4HXweblehMyePAiFeoRz4ZbFG5IbAG3vnLsDQHIHJV~I9BYFOFcnVLSoipz-fL32tZ4N9jkoLKA5CjId-7iOgDXWofz44mjiLTjRhmUCmemy86mlqwZ4aT~73Hzw1Rdn6BnJdPM8O7mE8-NyxjaAIcLkls6Npm4g5f8TNN2BNC7tEmxnTXrXeXPLakG9grgv4~LNW~Vk3slZcNjLfgn~blh7kPZAQQOwqnTniDSfSHurNmDtaktycK7OJGv0H0iuc041OsGaKTM0oSJ9jrJCnoIB7VUzG64xgqxRmOktuog0y-hCcSw__);
  margin-bottom: 20px;
}

#whyus {
  width: 70%;
}
#whyus h3 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 20px;
}

.div--items {
  width: 200px;
  margin-bottom: 20px;
}
.div--items > div {
  height: 62.75px;
  margin-bottom: 20px;
}
.div--items h4 {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 6px;
}
.div--items h5 {
  font-weight: 400;
  font-size: 17px;
  color: #A5A5A5;
  margin-bottom: 20px;
}

.img--person-size {
  margin-top: 5px;
}

.div--person-background_color {
  position: absolute;
  width: 62.75px;
  height: 62.75px;
  border-radius: 99px;
  background-color: #FB3B64;
  display: inline-block;
  left: calc(50% - 31.375px - 15px);
}

.img--eye-size {
  margin-top: 15px;
}

.div--eye-background_color {
  position: absolute;
  width: 62.75px;
  height: 62.75px;
  border-radius: 99px;
  background-color: #08A6E4;
  display: inline-block;
  left: calc(50% - 31.375px - 15px);
}

.img--catalog-size {
  margin-top: 5px;
}

.div--catalog-background_color {
  position: absolute;
  width: 62.75px;
  height: 62.75px;
  border-radius: 99px;
  background-color: #55DFB4;
  display: inline-block;
  left: calc(50% - 31.375px - 15px);
}

#benefits {
  background-color: #F7F7F7;
  padding: 18.31px;
  margin-bottom: 50px;
}

.div--content-display {
  text-align: left;
  background-color: #FFFFFF;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  margin: 0 auto 20px auto;
}
.div--content-display > :nth-child(n) {
  margin: 30px;
}
.div--content-display h3 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 20px;
}
.div--content-display p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

.div--display-height {
  height: 110px;
}

.macBook {
  margin-top: 10px !important;
}

.iphone {
  left: calc(50% - 96.5px + 30px);
  margin-top: -10px !important;
}

.cornet {
  margin-top: 20px !important;
}

.div--background-rotate {
  position: absolute;
  width: 90.12px;
  height: 90.12px;
  border-radius: 41px;
  background-color: #FB3B64;
  rotate: 45deg;
  left: 50%;
  margin-top: -10px;
}

.div--background-center_blue {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 99px;
  background-color: #08A6E4;
  left: calc(50% - 70px);
  margin-top: -15px;
}

.div--background-green_rectangle {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 5px;
  background-color: #55DFB4;
  width: calc(100% - 36.62px);
  left: 18.31px;
}

.h2--text-style {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 20px;
}

#prices {
  position: relative;
}

.div--basic-border {
  border: 1px solid #FB3B64;
  border-radius: 18px;
  width: 80%;
  margin: 0 auto 40px auto;
  position: relative;
}

.div--professional-border {
  border: 1px solid #08A6E4;
  border-radius: 18px;
  width: 80%;
  margin: 0 auto 40px auto;
  position: relative;
}

.div--premium-border {
  border: 1px solid #55DFB4;
  border-radius: 18px;
  width: 80%;
  margin: 0 auto 40px auto;
  position: relative;
}

.div--plan {
  display: inline-block;
  margin: 10px;
}

.div--basic_plan-type {
  position: relative;
  display: inline-block;
  width: 35%;
  bottom: 27px;
}
.div--basic_plan-type h3 {
  font-weight: 700;
  font-size: 20px;
}
.div--basic_plan-type p {
  color: #FB3B64;
  font-weight: 300;
  font-size: 46px;
}
.div--basic_plan-type h4 {
  font-weight: 700;
  font-size: 12px;
}

.div--professional_plan-type {
  position: relative;
  display: inline-block;
  width: 35%;
  bottom: 20px;
}
.div--professional_plan-type h3 {
  font-weight: 700;
  font-size: 20px;
}
.div--professional_plan-type p {
  color: #08A6E4;
  font-weight: 300;
  font-size: 46px;
}
.div--professional_plan-type h4 {
  font-weight: 700;
  font-size: 12px;
}

.div--premium_plan-type {
  position: relative;
  display: inline-block;
  width: 35%;
  bottom: 20px;
}
.div--premium_plan-type h3 {
  font-weight: 700;
  font-size: 20px;
}
.div--premium_plan-type p {
  color: #55DFB4;
  font-weight: 300;
  font-size: 46px;
}
.div--premium_plan-type h4 {
  font-weight: 700;
  font-size: 12px;
}

.div--plan-specifications {
  position: relative;
  top: 10px;
  width: 50%;
}
.div--plan-specifications > div {
  width: 100%;
}
.div--plan-specifications p {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  width: 85%;
  margin: 10px 0 10px 4px;
}

.div--basic-begin {
  position: relative;
  border-radius: 99px;
  top: 25px;
  height: 50px;
  width: 50%;
  color: white;
  font-weight: 700;
  font-size: 13px;
  background-color: #FB3B64;
  margin: 0 auto;
  border: 0;
}

.div--professional-begin {
  position: relative;
  border-radius: 99px;
  top: 25px;
  height: 50px;
  width: 50%;
  color: white;
  font-weight: 700;
  font-size: 13px;
  background-color: #08A6E4;
  margin: 0 auto;
  border: 0;
}

.div--premium-begin {
  position: relative;
  border-radius: 99px;
  top: 25px;
  height: 50px;
  width: 50%;
  color: white;
  font-weight: 700;
  font-size: 13px;
  background-color: #55DFB4;
  margin: 0 auto;
  border: 0;
}

#contact {
  text-align: left;
  margin: 30px;
}
#contact h2 {
  font-weight: 400;
  font-size: 40px;
}
#contact p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.div--contact-alignement {
  height: 30px;
  margin: 2px;
}
.div--contact-alignement :nth-child(n) {
  display: inline-block;
}
.div--contact-alignement div {
  height: 27px;
  width: 27px;
}
.div--contact-alignement p {
  margin: auto;
  position: relative;
  font-weight: 600;
  font-size: 16px;
  color: #A5A5A5;
  padding: 5px;
  bottom: 8px;
}
.div--contact-alignement:last-child {
  margin-bottom: 40px;
}

form label {
  display: inline-block;
  width: 100%;
  color: #08A6E4;
}
form input:not([type*=checkbox]), form input:not([type*=checkbox]):focus-visible {
  width: 100%;
  height: 40px;
  border: 0;
  border-bottom: 1px solid #95989A;
  margin-bottom: 20px;
  outline: none;
}
form input[type*=checkbox] {
  position: absolute;
  height: 24px;
  width: 24px;
  margin: 10px;
  z-index: 5;
  display: none;
}
form span.checkmark {
  position: absolute;
  display: inline-block;
  border: 1px solid #95989A;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  margin: 10px;
}
form .label--policy {
  position: relative;
  color: #707070;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  display: inline-block;
  width: calc(100% - 54px);
  left: 54px;
}
form input[type*=submit] {
  position: relative;
  border-radius: 99px;
  top: 25px;
  height: 50px;
  width: 50%;
  color: white;
  font-weight: 700;
  font-size: 13px;
  background-color: #08A6E4;
  margin: 0 auto;
  border: 0;
  top: 0;
  width: 70%;
  margin: 20px;
  left: 20%;
}

/*# sourceMappingURL=styles.css.map */
