$logo_blue: #08A6E4;
$blue: #07ACE6;
$white: #FFFFFF;
$black: #000000;
$m-b: 20px !important;

//General css

* {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   min-width: 320px;
   font-family: Open Sans;
   text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: Raleway;
}

//Header css

#header{
    position: sticky;
    top: 0;
    background-color: $white;
    box-shadow: 0px 3px 6px 0px #0000004A;
    text-align: left;
    z-index: 5;
}

h1{
    color: $logo_blue;
    margin: 17px 25px;
    position: relative;
    display: inline-block;
}

nav{
    text-transform: uppercase;
    display: none;
}

#burger_menu{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 12px;
    top: 29px;
    right: 40px;

    div{
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: $blue;
        top: 5px;
    }

    :first-child{
        top: 0;
    }

    :last-child{
        top: 10px;
    }
}

//Main css

main{
    top: 100px;
    position: relative;
}

.div--elements-centered{
    margin: 0 auto;
    width: 70%;

    :nth-child(n){
        display: block;
        position: relative;
        margin: 0 auto;
        margin-bottom: $m-b;
    }

    h2{
        font-weight: 400;
        font-size: 35px;
    }

    p{
        font-weight: 400;
        font-size: 16px;
    }

    button{
        width: 100%;
        padding: 20px;
        background-color: $blue;
        color: $white;
        border: 0;
        border-radius: 40px;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        font-weight: 700;
        font-size: 16px;
    }
}

#laptop{
    position: relative;
    height: 267px;
    margin: 0 auto;
    background: center no-repeat url(https://s3-alpha-sig.figma.com/img/c3f9/6a42/6648411f57f04aff84de5d247f55d2a8?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JjMcR0dAcKxv9cxAUdNtoLsalHY4RELkBrC4HXweblehMyePAiFeoRz4ZbFG5IbAG3vnLsDQHIHJV~I9BYFOFcnVLSoipz-fL32tZ4N9jkoLKA5CjId-7iOgDXWofz44mjiLTjRhmUCmemy86mlqwZ4aT~73Hzw1Rdn6BnJdPM8O7mE8-NyxjaAIcLkls6Npm4g5f8TNN2BNC7tEmxnTXrXeXPLakG9grgv4~LNW~Vk3slZcNjLfgn~blh7kPZAQQOwqnTniDSfSHurNmDtaktycK7OJGv0H0iuc041OsGaKTM0oSJ9jrJCnoIB7VUzG64xgqxRmOktuog0y-hCcSw__);
}

//Footer css