@use 'mixins';

$main_blue: #08A6E4;
$main_red: #FB3B64;
$main_turquoise: #55DFB4;
$blue: #07ACE6;
$white: #FFFFFF;
$black: #000000;
$m-b: 20px;
$w-70: 70%;
$circle: 62.75px;

%m-0-auto{
    margin: 0 auto;
}

%img_positioning{
    position: absolute;
    display: inline-block;
    left: calc(50% - ($circle/2) + 12px);
}

$img-w: 193px;
%benefits-img{
    position: absolute;
    width: $img-w;
    left: calc(50% - $img-w/2 - 20px);
}

//General css

* {
    box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   min-width: 320px;
   font-family: Open Sans;
   text-align: center;
}

h1, h2, h3, h4, h5 {
    font-family: Raleway;
}

//Header css

header{
    position: sticky;
    top: 0;
    background-color: $white;
    box-shadow: 0px 3px 6px 0px #0000004A;
    text-align: left;
    z-index: 5;
}

h1{
    color: $main_blue;
    margin: 17px 25px;
    position: relative;
    display: inline-block;
}

nav{
    text-transform: uppercase;
    display: none;
}

#burger_menu{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 12px;
    top: 29px;
    right: 40px;

    div{
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: $blue;
        top: 5px;
    }

    :first-child{
        top: 0;
    }

    :last-child{
        top: 10px;
    }
}

//Main css

main{
    top: 100px;
    position: relative;
}

.div--elements-centered{
    @extend %m-0-auto;
    width: $w-70;

    :nth-child(n){
        display: block;
        position: relative;
        @extend %m-0-auto;
        margin-bottom: $m-b !important;
    }

    h2{
        font-weight: 400;
        font-size: 35px;
    }

    p{
        font-weight: 400;
        font-size: 16px;
    }

    button{
        width: 100%;
        padding: 20px;
        background-color: $blue;
        color: $white;
        border: 0;
        border-radius: 40px;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        font-weight: 700;
        font-size: 16px;
    }
}

#laptop{
    @extend %m-0-auto;
    position: relative;
    height: 267px;
    background: center no-repeat url(https://s3-alpha-sig.figma.com/img/c3f9/6a42/6648411f57f04aff84de5d247f55d2a8?Expires=1738540800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=JjMcR0dAcKxv9cxAUdNtoLsalHY4RELkBrC4HXweblehMyePAiFeoRz4ZbFG5IbAG3vnLsDQHIHJV~I9BYFOFcnVLSoipz-fL32tZ4N9jkoLKA5CjId-7iOgDXWofz44mjiLTjRhmUCmemy86mlqwZ4aT~73Hzw1Rdn6BnJdPM8O7mE8-NyxjaAIcLkls6Npm4g5f8TNN2BNC7tEmxnTXrXeXPLakG9grgv4~LNW~Vk3slZcNjLfgn~blh7kPZAQQOwqnTniDSfSHurNmDtaktycK7OJGv0H0iuc041OsGaKTM0oSJ9jrJCnoIB7VUzG64xgqxRmOktuog0y-hCcSw__);
    margin-bottom: $m-b;
}

#whyus{
    width: $w-70;
    @extend %m-0-auto;

    h3{
        font-weight: 300;
        font-size: 30px;
        margin-bottom: $m-b;
    }
}

.div--items{
    width: 200px;
    @extend %m-0-auto;
    margin-bottom: $m-b;

    >div{
        height: $circle;
        margin-bottom: $m-b;
    }

    h4{
        font-weight: 800;
        font-size: 20px;
        letter-spacing: 6px;
    }

    h5{
        font-weight: 400;
        font-size: 17px;
        color: #A5A5A5;
        margin-bottom: $m-b;
    }
}

.img--person-size{
    @extend %img_positioning;
    margin-top: 5px;
}

.div--person-background_color{
    @include mixins.circle($circle, $main_red);
    display: inline-block;
    left: calc(50% - ($circle/2) - 15px);
}

.img--eye-size{
    @extend %img_positioning;
    margin-top: 15px;
}

.div--eye-background_color{
    @include mixins.circle($circle, $main_blue);
    display: inline-block;
    left: calc(50% - ($circle/2) - 15px);
}

.img--catalog-size{
    @extend %img_positioning;
    margin-top: 5px;
}

.div--catalog-background_color{
    @include mixins.circle($circle, $main_turquoise);
    display: inline-block;
    left: calc(50% - ($circle/2) - 15px);
}

$benefits-left-size: 18.31px;
#benefits{
    background-color: #F7F7F7;
    padding: $benefits-left-size;
    margin-bottom: 50px;
}

.div--content-display{
    text-align: left;
    background-color: $white;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin: 0 auto $m-b auto;

    &>:nth-child(n){
        margin: 30px;
    }

    img{
        @extend %m-0-auto;
    }

    h3{
        font-weight: 400;
        font-size: 30px;
        margin-bottom: $m-b;
    }

    p{
        font-weight: 400;
        font-size: 14px;
        margin-bottom: $m-b;
    }
}

.div--display-height{
    height: 110px;
}

.macBook{
    @extend %benefits-img;
    margin-top: 10px !important;
}

.iphone{
    @extend %benefits-img;
    left: calc(50% - $img-w/2 + 30px);
    margin-top: -10px !important;
}

.cornet{
    @extend %benefits-img;
    margin-top: 20px !important;
}

.div--background-rotate{
    @include mixins.circle(90.12px, $main_red, 41px);
    rotate: 45deg;
    left: 50%;
    margin-top: -10px;
}

$iphone-bg-size: 140px;
.div--background-center_blue{
    @include mixins.circle($iphone-bg-size, $main_blue);
    left: calc(50% - $iphone-bg-size/2);
    margin-top: -15px;
}

.div--background-green_rectangle{
    @include mixins.circle($iphone-bg-size, $main_turquoise, 5px);
    width: calc(100% - $benefits-left-size*2);
    left: $benefits-left-size;
}

.h2--text-style{
    font-weight: 400;
    font-size: 36px;
    margin-bottom: $m-b;
}

#prices{
    position: relative;
    
}

.div--basic-border{
    @include mixins.card($main_red);
}

.div--professional-border{
    @include mixins.card($main_blue);
}

.div--premium-border{
    @include mixins.card($main_turquoise);
}

.div--plan{
    display: inline-block;
    margin: 10px;
}

.div--basic_plan-type{
    @include mixins.plan-type($main_red);
    bottom: 27px;
}

.div--professional_plan-type{
    @include mixins.plan-type($main_blue);
    bottom: 20px;
}

.div--premium_plan-type{
    @include mixins.plan-type($main_turquoise);
    bottom: 20px;
}

.div--plan-specifications{
    position: relative;
    top: 10px;
    width: 50%;

    &>div{
        width: 100%;
    }

    p{
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        width: 85%;
        margin: 10px 0 10px 4px;
    }
}

.div--basic-begin{
    @include mixins.begin-plan($main_red);
}

.div--professional-begin{
    @include mixins.begin-plan($main_blue);
}

.div--premium-begin{
    @include mixins.begin-plan($main_turquoise);
}

//Footer css