header{
    position: sticky;
    top: 0;
    background-color: $white;
    box-shadow: 0px 3px 6px 0px #0000004A;
    text-align: left;
    z-index: 5;
}

#percentajeScroller{
    position: absolute;
    border: 2px solid $blue;
    z-index: 6;
    width: 0;
    display: none;
}

.header__display{
    position: relative;
    background-color: $white;
    z-index: 5;
}

h1{
    color: $main_blue;
    margin: 17px 25px;
    position: relative;
    display: inline-block;
    font-weight: 300;
    font-size: 32px;
}

nav{
    text-transform: uppercase;
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 11px;
    text-align: left;
    padding: 20px 0;
    background-color: $white;
    width: 100%;
    bottom: 0;
    z-index: 4;

    a{
        padding: 10px 30px;
        letter-spacing: 3.28px;
        text-decoration: none;
        color: $gray;
        width: 100%;
    }

    a:hover{
        color: $black;
    }
}

.nav__expanded{
    bottom: auto;
    box-shadow: 0px 4px 4px 0px #0000004A;
}

#burger_menu{
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 12px;
    top: 29px;
    right: 40px;

    div{
        position: absolute;
        height: 2px;
        width: 20px;
        background-color: $blue;
        top: 5px;
    }

    $transition: 150ms;
    .burger_menu--first{
        transition: $transition;
        top: 0;
    }

    .burger_menu--first--crossed{
        top: auto;
        rotate: 45deg;
    }

    .burger_menu--middle{
        transition: $transition;
    }

    .burger_menu--middle--crossed{
        display: none;
    }

    .burger_menu--last{
        transition: $transition;
        top: 10px;
    }

    .burger_menu--last--crossed{
        top: auto;
        rotate: -45deg;
    }
}

@media screen and (min-width: 1000px) {
    header{
        display: flex;
    }

    h1{
        left: 136px;
    }

    nav{
        display: flex;
        flex-direction: row;
        position: absolute;
        box-shadow: none;
        top: 0;
        right: 20px;
        padding: 0;
        font-weight: 700;
        font-size: 11px;
        text-align: center;
        width: auto;

        a{
            padding: 26px 0;
            text-decoration: none;
            color: $gray;
            width: 100px;
            transition: 100ms;
        }

        a:hover{
            color: $black;
            border-bottom: 4px solid $main_blue;
        }
    }

    #burger_menu{
        display: none;
    }
}