#prices{
    position: relative;
    
}

.div--basic-border{
    @include mixins.card($main_red);
}

.div--professional-border{
    @include mixins.card($main_blue);
}

.div--premium-border{
    @include mixins.card($main_turquoise);
}

.div--plan{
    display: inline-block;
    margin: 10px;
}

.div--basic_plan-type{
    @include mixins.plan-type($main_red);
    bottom: 27px;
}

.div--professional_plan-type{
    @include mixins.plan-type($main_blue);
    bottom: 20px;
}

.div--premium_plan-type{
    @include mixins.plan-type($main_turquoise);
    bottom: 20px;
}

.div--plan-specifications{
    position: relative;
    top: 10px;
    width: 50%;

    &>div{
        width: 100%;
    }

    p{
        display: inline-block;
        font-weight: 400;
        font-size: 14px;
        text-align: left;
        width: 85%;
        margin: 10px 0 10px 4px;
    }
}

.div--basic-begin{
    @include mixins.proceed-button($main_red);
}

.div--professional-begin{
    @include mixins.proceed-button($main_blue);
}

.div--premium-begin{
    @include mixins.proceed-button($main_turquoise);
}