#slider{
    position: relative;
    width: 100%;
    padding: 50px 0;
    background-color: black;
    margin-bottom: 50px;

    button{
        position: absolute;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 99px;
        vertical-align: middle;
        top: 50%;
        transform: translateY(-50%);
    }

    .previous{
        left: 10px;
        background: url("../img/Previous.png"), rgba(0,0,0, 0.55);
        background-size: cover;
    }

    .next{
        right: 10px;
        background: url("../img/Next.png"), rgba(0,0,0, 0.55);
        background-size: cover;
    }

    img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        display: none;
    }

    .shown{
        display: block;
    }

    .sliderDots{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .slideDot{
        height: 15px;
        width: 15px;
        background-color: rgb(255,255,255);
        opacity: 0.3;
        border-radius: 99px;
        margin: 10px;
    }

    .selected{
        opacity: 1;
    }
}

@media screen and (min-width: 1000px){
    #slider {
        width: 70%;
        margin: 50px auto;

        img{
            height: 600px;
        }
    }
}