#slider{
    position: relative;
    box-sizing: unset;
    width: 100%;
    height: 250px;
    padding: 50px 0;
    background-color: black;
    margin-bottom: 50px;

    button{
        position: absolute;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 99px;
        vertical-align: middle;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
    }

    .previous{
        left: 10px;
        background: url("../img/Previous.png"), rgba(0,0,0, 0.55);
        background-size: cover;
    }

    .next{
        right: 10px;
        background: url("../img/Next.png"), rgba(0,0,0, 0.55);
        background-size: cover;
    }

    div{
        height: inherit;

        img{
            position: absolute;
            left: 0;
            width: 100%;
            height: inherit;
            object-fit: cover;
            opacity: 0;
            transition: 500ms;
        }
    }

    .shown{
        opacity: 1;
    }

    .sliderDots{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
    }

    .slideDot{
        height: 15px;
        width: 15px;
        background-color: rgb(255,255,255);
        opacity: 0.3;
        border-radius: 99px;
        margin: 10px;
        transition: 500ms;
        cursor: pointer;
    }

    .selected{
        opacity: 1;
    }
}

@media screen and (min-width: 1000px){
    #slider {
        width: 55%;
        height: 400px;
        margin: 50px auto;
    }
}